<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\NiosProject\software\Simulation\Simulation.elf"/>
<stringAttribute key="modelSimPath" value="C:\intelFPGA\18.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Simulation.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Simulation"/>
<stringAttribute key="spdPath" value="C:\NiosProject\BasicNIOS_tb.spd"/>
</launchConfiguration>
